.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto";
}

.jfx-button {
    -fx-background-color: #7da453;
    -fx-text-fill: black;
}

.mainContent {
    -fx-background-color: #f5f5f6;
}


.jfx-tab-pane .headers-region {
    -fx-background-color: #7da453;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #7da453;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #4e7527;
}