.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Roboto";
}

.jfx-button {
    -fx-background-color: #7da453;
    -fx-text-fill: black;
}

.mainContent {
    -fx-background-color: #f5f5f6;
}

.info {
    -fx-background-color: #f5f5f6;
    -fx-font-weight: bold;
}

.minor {
    -fx-background-color: #2E7D32;
    -fx-font-weight: bold;
}

.major {
    -fx-background-color: #F57F17;
    -fx-font-weight: bold;
}

.critical {
    -fx-background-color: #B71C1C;
    -fx-font-weight: bold;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #7da453;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #7da453;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #4e7527;
}